.brawl_back
{
  background-image: url("../images/castle-2596885_960_720.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
